
body {
    background: #223;
}

.container {
    background: grey;
    min-height: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    padding: 15px;
}
.items {
    background-color:  red;
    height: 150px;
    width: 150px; 
    color: white;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}